.App {
  margin: 350px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row-reverse;
}
.header {
  padding: 0px;
  color: rgb(50, 88, 49);
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  position: center;
  margin: 30px;
  padding: 70px;
  display: inline-flex;
  border-radius: 50px;
}

.sortBy {
  margin: 25px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row-reverse;
}
.link {
  color: #405546;
}
.singleArticle {
  flex-flow: row wrap;
}
.titleSingleArticle {
  color: #405546;
}
.body {
  color: rgb(88, 91, 94);
  display: block;
}
.topic {
  color: #3e7a75;
}

.topicSingle {
  color: #a25353;
}

.created_at {
  color: #64836fc6;
}

.author {
  color: #4f6d61;
}

.comment_count {
  color: #f07294;
}

.login {
  font-size: 8pt;
  font-family: "Times New Roman";
  text-align: center;
  position: absolute;
  top: 10px;
  right: 20px;
  margin: 55px;
  padding: 10px;
  display: inline-flex;
  border: 30px solid #494949 !important;
  border-radius: 90px;
}

.articleForm {
  position: center;
  margin: 300px;
  flex-direction: column;
}
.HomeLink {
  position: absolute;
  background-color: #ae79a1;
  border-radius: 10px;
  margin: 100px;
  top: 10px;
  left: 170px;
  font-size: 20px;
}
.articleButton {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 32px;
  border: 5px solid #494949 !important;
  border-radius: 7px;
}

.votes {
  color: teal;
}

.commentTitle {
  color: #405546;
}

.commentButton {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 3px solid #494949 !important;
  border-radius: 5px;
}
.commentButton:hover {
  color: #ffffff !important;
  background: rgb(50, 88, 49);
  border-color: rgb(50, 88, 49) !important;
  transition: all 0.4s ease 0s;
}
