.header {
  color: rgb(114, 77, 161);
  align-content: center;
  margin: 20px;
  align-content: center;
}
.App {
  margin: 250px;
  display: flexbox;
  justify-content: space-evenly;
}
.link {
  color: #1414be3f;
}

.body {
  color: rgb(88, 91, 94);
  display: block;
}

.author {
  color: #0606263f;
}
.login {
  color: rgb(47, 106, 158);
  align-content: right;
}

.logInButton {
  color: aqua;
  box-align: right;
}

